

/*
-----------------*/
#wrapper{
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header{
	margin: 50px auto 0;
}

#game-board{

}

#get-count{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#end-game{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
}

.field{
	background-color: #2e8b57;
	border: 1px solid #ddd;
	padding: 0;
	margin: 0;
	line-height: 0;
}

.empty{

}

.stone{
	width: 2em;
	height: 2em;
	border-radius: 1em;
	margin: 0.25em;
}

.white{
	background-color: #fff;
}

.black{
	background-color: #000;
}
